body {
    background-color: rgb(51, 46, 51);
  }

  title{
    color: rgb(177, 150, 150);
    text-align: left;
  }

  h1 {
    color: rgb(112, 80, 138);
    text-align: left;
  }
  h2 {
    color: rgb(51, 53, 54);
    text-align: left;
  }
  h3 {
    color: rgb(51, 53, 54);
    text-align: left;
  }
  
  p {
    color: rgb(51, 53, 54);
    font-family: verdana;
    font-size: 20px;
    text-align: left;
  }

  a{
    display: block;
    text-align: left;
    color: rgb(17, 19, 122);
    font-size: 20px;
  }

  #home{
    text-align: left;
    font-size: 40px;
    color: rgb(57, 117, 170);
  }

  div#elements{
    display: flex;
    align-items: left;
  }

  .boxes {
    display: flex;
    justify-content: center;
  }

  #mainTitle{
    color: rgb(142, 143, 192);
    text-align: center;
    font-size: 40px;
    font-style: oblique;
  }

  #head{
    display: flex;
  }

  body{
    background-image: url(/background/common.jpg);
    background-size: 1685px 850px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }